
        <section class="experience" id="experience">

            <div class="container">

                <div class="section-heading">

                    <div class="section-label">
                        Experience
                    </div>

                    <h2>
                        My professional journey.
                    </h2>

                    <p>
                        Add your actual work experience,
                        projects, training and achievements here.
                    </p>

                </div>


                <div class="timeline">

                    <div class="timeline-item">

                        <div class="timeline-date">
                            2026 — Present
                        </div>

                        <h3>
                            Computer Operator II / Network and Software Development
                        </h3>

                        <div class="timeline-company">
                            Department of Health
                        </div>

                        <p>
                            Working on software applications,
                            technical assistance, database systems
                            and technology-related projects.
                        </p>

                    </div>


                    <div class="timeline-item">

                        <div class="timeline-date">
                            2023 — 2024
                        </div>

                        <h3>
                            Quality Engineering Associate / Associate Software Engineer
                        </h3>

                        <div class="timeline-company">
                            Mobile, Desktop, and Website Application Tester / Accenture
                        </div>

                        <p>
                            Developed and improved applications
                            focused on automation, data management
                            and efficient workflows.
                        </p>

                    </div>


                    <div class="timeline-item">

                        <div class="timeline-date">
                            2021 — 2023
                        </div>

                        <h3>
                            Risk Operations Analyst
                        </h3>

                        <div class="timeline-company">
                            Back Office / UBIQUITY
                        </div>

                        <p>
                            Responsible for performing Know Your Customer (KYC), document and fraud verification, Anti-Money Laundering checks, managing email correspondence, and maintaining clients records.
                        </p>

                    </div>

                </div>

            </div>

        </section>

